doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Thank You!
    link(rel="stylesheet", href="./style.css")
  body 
    .card
      .thank-you 
        img.thank-you__image(src="./assets/images/illustration-thank-you.svg", alt="thank-you")
        .thank-you__selection 
          p.thank-you__caption You selected 4 out of 5
        h1.thank-you__header Thank you! 
        p.thank-you__text We appreciate you taking the time to give a rating. If you ever need more support, don't hesitate to get in touch!
    script(src="./app.js")